<script type="text/javascript" id="refugee-template">
 <li><strong>Country of Origin<strong></li> <%% @country_of_origin %>;


</script>

<h1>Refugees API</h1>

<p>You can help refugees by going to: <a href=""> </p>
<hr />

<script type="text/javascript">
  var global = global || {};
  global.apiKey = '<%= @key %>';
</script>
