<script type="text/template" id="refugee-template">

  <table>
    <tr>
      <th>Country of Origin</th>
      <th>Territory/Country Asylum</th>
      <th>Refugees</th>
      <th>Year</th>
    </tr>
    <tr>
      <td><%%= country_of_origin %></td>
      <td><%%= territory_country_of_asylum %></td>
      <td><%%= refugees %></td>
      <td><%%= year %></td>
    <tr/>
 </table>
</script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<h1>World Refugees API</h1>

<p>Refugees and Asylum Updates<a href="http://www.amnestyusa.org/our-work/issues/refugee-and-migrant-rights/refugees-and-asylum"></p>
<p><a href="http://www.amnestyusa.org/donate-to-amnesty"><button class='btn btn-info'>Donate NOW</button></a></p>
<hr />

 <ul id="refugee-list">
   <!-- Backbone collection will fill this $el -->
 </ul>

<script type="text">
  var global = global || {};
  global.apiKey = '<%= @key %>';
</script>
