<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>World Refugee and Asylum API</title>


    </script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

  </head>
  <body>
    <div id="headline">

      <h1>World Refugee API</h1>

      <p><a href="http://www.unhcr.org/cgi-bin/texis/vtx/home">Read the lastest refugee and asylum updates</a></p>

      <p><a href="http://www.amnestyusa.org/donate-to-amnesty"><button class='btn btn-info'>Donate $ Now</button></a></p>

    </div>
      <hr />
      <script type="text/template" id="refugee-template">

              <tr>
                <td><%%= country_of_origin %></td>
                <td><%%= territory_country_of_asylum %></td>
                <td><%%= refugees %></td>
                <td><%%= year %></td>
              <tr/>

      </script>

        <div>
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Country of Origin</th>
                          <th>Territory/Country of Asylum</th>
                          <th>Refugees</th>
                          <th>Year</th>
                  </tr>
              </thead>
              <tbody id="refugee-list" >
                <!-- Backbone collection will fill this $el -->
              </tbody>
        </table>
      </div>

        <script type="text">
          var global = global || {};
          global.apiKey = '<%= @key %>';
        </script>

    <footer> API created by Sonju Walker <br /> Copyright 2015 </footer>
  </body>
</html>
