// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

#headline {
  height: 250px;
  background-image: url("worldrefugeeday.jpg");
  background-size: cover;
  margin-top: 50px;
  // margin: 0; // set as 0 to overide the chrome browser default margin
  // padding: 0; // set as 0 to overide the chrome browser default margin

}


 h1 {
   text-align: center;
   margin-top: 20px;
 }

  p {
    text-align: center;
  }

  #chartLink {
    font-family: "Verdana", "Arial Black", sans-serif;
    text-align: right;
    margin-right: 210px;
    font-size: 1.5rem;
    text-decoration: underline;
    color: rgb(222, 196, 88);
    color: inherit;
  }


 footer {
  // font-family: "Verdana", "Arial Black", sans-serif;
   text-align: center;
   font-style: italic;
 }
