// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

#headline {
  height: 200px;
  background-image: url("worldrefugeeday.jpg");
  background-size: cover;
  margin: 0; // set as 0 to overide the chrome browser default margin
  padding: 0; // set as 0 to overide the chrome browser default margin

}


 h1 {
   text-align: center;

 }

  p {
    text-align: center;
  }

  #barChart {
    font-family: "Verdana", "Arial Black", sans-serif;
    text-align: right;
    margin-right: 210px;
    font-size: 1.5rem;
    color: rgb(222, 196, 88);
    color: inherit;
  }

   a {
    color: rgb(222, 196, 88);
    color: inherit;
  }


 footer {
   text-align: center;
 }
