// Place all the styles related to the home controller here.
// They will automatically be included in application.css.

#headline {
  height: 300px;
  background: url("kobani_camp.png");
  background-size: cover;
  margin: 0; // set as 0 to overide the chrome browser default margin
  padding: 0; // set as 0 to overide the chrome browser default margin

}


 h1 {
   text-align: center;

 }

  p {
    text-align: center;
  }


 footer {
   text-align: center;
 }
